/* ---------- Gallery ---------- */

.gallery {
    padding: 28px 28px;
    background-color: #DDD7CE;
}

.masonry {
    column-gap: 28px;
    column-count: 3;
}

.masonry .item {
    transition: 0.3s linear;
    transform: scale(100.1%);
    margin-bottom: 28px;
    border-radius: 2px;
    overflow: hidden;
}

.masonry .item img {
    transition: 0.3s linear;
    transform: scale(100.1%);
    filter: brightness(1);
    vertical-align: middle;
    width: 100%;
}

/* item hover */
.masonry .item:hover {
    transform: scale(99.6%);
}

/* image hover */
.masonry .item img:hover {
    transform: scale(104%);
    filter: brightness(1.14);
}

@media (max-width: 992px) {
    .masonry {
        column-count: 2;
    }
}

@media (max-width: 768px) {
    .masonry {
        column-count: 2;
    }
}


/* ---------- Top space ---------- */

.gallery-top-spacer {
    height: 120px;
}

/* for low resolution displays */
@media screen and (max-width: 576px) {
    .gallery-top-spacer {
        height: 100px;
    }
}

/* for mobile ladscape */
@media screen and (max-height: 326px) {
    .gallery-top-spacer {
        height: 70px;
    }
}