.hero-item {
    height: 100vh;
}

/* Fix for flickering carousel */
.carousel-inner .carousel-item {
    opacity: 0;
    top: 0;
    left: 0;
    width: 100%;
    display: block;
    position: absolute;
}

.carousel-inner .carousel-item:first-of-type {
    position: relative;
}

.carousel-inner .active {
    opacity: 1;
}

/* first fade after loading the page */
.first-fade {
    animation: first-fade 1.5s;
    -webkit-animation: first-fade 1.5s;
}

@keyframes first-fade {
    0%   {
        filter: opacity(0);
        -webkit-filter: opacity(0);
    }

    100% {
        filter: opacity(1);
        -webkit-filter: opacity(1);
    }
}