/* ---------- Fonts ---------- */

/* navbar brand font */
.navbar-brand {
    font-family: ubuntu;
    font-size: 32px;
    font-weight: 700;
}

/* navbar font */
.navbar {
    font-family: open-sans;
    font-size: 18px;
    font-weight: 400;
}

/* ---------- Colors ---------- */

/* navbar background color */
.navbar {
    background-color: #3c352bb4;
}

/* navbar brand color */
.navbar-brand {
    color: #F0F0F0;
}

.navbar-brand:hover {
    color: #F0F0F0;
}

/* navbar text color */
.nav-link,
.navbar .nav-link.active {
    color: #F0F0F0;
}

.nav-link:hover {
    color: #F0F0F0;
}

/* ---------- Navbar ---------- */

.navbar {
    position: absolute;
    width: 100%;
    z-index: 100;
}

.navbar-brand {
    margin: 0;
}

/* navbar collapse center text */
.navbar-collapse a.nav-link {
    text-align: center;
}

/* logo style */
.navbar-brand img {
    height: 44px;
}

@media screen and (max-width: 576px) {
    .navbar-brand img {
        height: 34px;
    }

    .navbar-brand {
        font-size: 22px;
    }
}

/* for low resolution displays */
@media screen and (max-width: 326px) {
    .navbar-brand {
        padding-bottom: 12px;
    }

    .navbar-brand span {
        font-size: 16px;
    }

    .navbar-brand img {
        display: none;
    }
}

/* ---------- Toggler ---------- */

/* remove shadow for navbar-toggler Hamburger icon*/
.navbar-toggler:focus,
.navbar-toggler:active {
    box-shadow: none;
}

/* ---------- Rotate toggler ---------- */

.rotate-toggler .navbar-toggler {
    transition: all 0.4s;
    border: none;
    border-radius: 0;
    padding: 0;
    padding: 10px 0;
}

.rotate-toggler .navbar-toggler span {
    background-color: #EBE0DA;
    transition: all 0.4s;
    border-radius: 2px;
    position: relative;
    display: block;
    width: 32px;
    height: 3px;
}

.rotate-toggler .navbar-toggler span::before,
.rotate-toggler .navbar-toggler span::after {
    background-color: #EBE0DA;
    transition: all 0.4s;
    border-radius: 2px;
    position: absolute;
    height: 100%;
    width: 100%;
    content: "";
    top: -10px;
    left: 0;
}

.rotate-toggler .navbar-toggler span::after {
    top: 10px;
}

.rotate-toggler .navbar-toggler[aria-expanded="true"] {
    transform: rotate(360deg);
}

.rotate-toggler .navbar-toggler[aria-expanded="true"] span {
    transform: rotate(45deg);
}

.rotate-toggler .navbar-toggler[aria-expanded="true"] span::before,
.rotate-toggler .navbar-toggler[aria-expanded="true"] span::after {
    transform: rotate(90deg);
    top: 0;
}

/* ---------- Hover underline animation ---------- */

.hover-underline-animation {
    position: relative;
}

.hover-underline-animation:after {
    background-color: #EBE0DA;
    transition: all 0.1s linear;
    position: absolute;
    margin: auto;
    content: '';
    height: 2px;
    width: 0%;
    bottom: 0;
    right: 0;
    left: 0;
}

.hover-underline-animation:hover:after {
    transition: all 0.4s;
    width: 90%;
}

@media screen and (max-width: 992px) {
    .hover-underline-animation:hover:after {
        width: 0%;
    }
}