/* ---------- Fonts ---------- */

/* navbar brand font */
.navbar-brand {
    font-family: ubuntu;
    font-size: 32px;
    font-weight: 700;
}

/* navbar font */
.navbar {
    font-family: open-sans;
    font-size: 18px;
    font-weight: 400;
}

/* ---------- Colors ---------- */

/* navbar background color */
.navbar {
    background-color: #3c352bb4;
}

/* navbar brand color */
.navbar-brand {
    color: #F0F0F0;
}

.navbar-brand:hover {
    color: #F0F0F0;
}

/* navbar text color */
.nav-link,
.navbar .nav-link.active {
    color: #F0F0F0;
}

.nav-link:hover {
    color: #F0F0F0;
}

/* ---------- Navbar ---------- */

.navbar {
    position: absolute;
    width: 100%;
    z-index: 100;
}

.navbar-brand {
    margin: 0;
}

/* navbar collapse center text */
.navbar-collapse a.nav-link {
    text-align: center;
}

/* logo style */
.navbar-brand img {
    height: 44px;
}

@media screen and (max-width: 768px) {
    .navbar-brand img {
        height: 34px;
    }

    .navbar-brand {
        font-size: 28px;
    }
}

@media screen and (max-width: 576px) {
    .navbar-brand img {
        height: 30px;
    }

    .navbar-brand {
        font-size: 24px;
    }
}

@media screen and (max-width: 326px) {
    .navbar-brand {
        padding-bottom: 12px;
    }

    .navbar-brand span {
        font-size: 16px;
    }

    .navbar-brand img {
        display: none;
    }
}

/* ---------- Toggler ---------- */

/* remove shadow for navbar-toggler Hamburger icon */
.navbar-toggler:focus,
.navbar-toggler:active {
    box-shadow: none;
}

.navbar-toggler {
    border: none;
    margin: 0;
    padding: 0;
}

.ham {
    border: none;
    -webkit-tap-highlight-color: transparent;
    transition: transform 400ms;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 4rem;
}

.hamRotate.active {
    transform: rotate(45deg);
}

.hamRotate180.active {
    transform: rotate(180deg);
}

.line {
    fill: none;
    transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
    stroke: #F0F0F0;
    stroke-width: 4.2;
    stroke-linecap: round;
}

.ham .top {
    stroke-dasharray: 40 160;
}

.ham .middle {
    stroke-dasharray: 40 142;
    transform-origin: 50%;
    transition: transform 400ms;
}

.ham .bottom {
    stroke-dasharray: 40 85;
    transform-origin: 50%;
    transition: transform 400ms, stroke-dashoffset 400ms;
}

.ham.active .top {
    stroke-dashoffset: -64px;
}

.ham.active .middle {
    transform: rotate(90deg);
}

.ham.active .bottom {
    stroke-dashoffset: -64px;
}

/* ---------- Hover underline animation ---------- */

.hover-underline-animation {
    position: relative;
}

.hover-underline-animation:after {
    background-color: #EBE0DA;
    transition: all 0.1s linear;
    position: absolute;
    margin: auto;
    content: '';
    height: 2px;
    width: 0%;
    bottom: 0;
    right: 0;
    left: 0;
}

.hover-underline-animation:hover:after {
    transition: all 0.4s;
    width: 90%;
}

@media screen and (max-width: 992px) {
    .hover-underline-animation:hover:after {
        width: 0%;
    }
}