/* ---------- Fonts ---------- */

@font-face {
    font-family: open-sans;
    src: url('../fonts/OpenSans/OpenSans-SemiBold.ttf') format('truetype');
    font-weight: 600;
}

@font-face {
    font-family: open-sans;
    src: url('../fonts/OpenSans/OpenSans-ExtraBold.ttf') format('truetype');
    font-weight: 800;
}

@font-face {
    font-family: ubuntu;
    src: url('../fonts/Ubuntu/Ubuntu-Medium.ttf') format('truetype');
    font-weight: 500;
}

@font-face {
    font-family: ubuntu;
    src: url('../fonts/Ubuntu/Ubuntu-Bold.ttf') format('truetype');
    font-weight: 700;
}

/* ---------- Body ---------- */

body {
    overscroll-behavior: none;
    background-color: #59483F;
    animation: fadeInAnimation ease 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    font-size: 18px;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/* ---------- Main section ---------- */

.main-section {
    color: #3c352b;
    background-color: #F0F0F0;
    font-family: open-sans;
}

/* ---------- Divider ---------- */

.divider {
    position: relative;
}

.divider:before {
    content: "";
    position: absolute;
    top: 0;
    left: 5%;
    right: 5%;
    width: 90%;
    height: 1px;
    background-image: linear-gradient(to right, transparent, #3c352b, transparent);
}







/* ---------- Services ---------- */

.service-item {
    margin: 0;
    background-color: #DDD7CE;
    height: 3.8em;
}


.s2 {
    list-style-type: circle;
}



.service-card {
    background-color: #d1bc9c;
    height: 14rem;
    width: 14rem;
}