/* fonts */
@font-face {
    font-family: open-sans;
    src: url('../fonts/OpenSans/OpenSans-SemiBold.ttf') format('truetype');
    font-weight: 600;
}

@font-face {
    font-family: open-sans;
    src: url('../fonts/OpenSans/OpenSans-ExtraBold.ttf') format('truetype');
    font-weight: 800;
}

@font-face {
    font-family: ubuntu;
    src: url('../fonts/Ubuntu/Ubuntu-Bold.ttf') format('truetype');
    font-weight: 700;
}

/* fade */
.fade {
    animation: fade 1s;
    -webkit-animation: fade 1s;
}

@keyframes fade {
    0%   {
        filter: opacity(0);
        -webkit-filter: opacity(0);
    }

    100% {
        filter: opacity(1);
        -webkit-filter: opacity(1);
    }
}