/* ---------- Fonts ---------- */

@font-face {
    font-family: open-sans;
    src: url('../fonts/OpenSans/OpenSans-SemiBold.ttf') format('truetype');
    font-weight: 600;
}

@font-face {
    font-family: open-sans;
    src: url('../fonts/OpenSans/OpenSans-ExtraBold.ttf') format('truetype');
    font-weight: 800;
}

@font-face {
    font-family: ubuntu;
    src: url('../fonts/Ubuntu/Ubuntu-Medium.ttf') format('truetype');
    font-weight: 500;
}

@font-face {
    font-family: ubuntu;
    src: url('../fonts/Ubuntu/Ubuntu-Bold.ttf') format('truetype');
    font-weight: 700;
}

/* Turning off overscroll-behavior */
body {
    overscroll-behavior: none;
    background-color: #B9B0A2;
}
